# fly.toml app configuration file generated for du-an-kpi-app on 2026-02-20T14:09:09+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'du-an-kpi-app'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[env]
  DATA_DIR = "/data"

[mounts]
  source = "kpi_data"
  destination = "/data"
